.user-container-profile {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.user-container-profile p {
  color: var(--purple);
  font-size: 1.2rem;
  letter-spacing: -0.00594rem;
}

.medal-container p {
  color: var(--orange);
  font-size: 1.3rem;
  letter-spacing: -0.0065rem;
  margin-bottom: 0.2rem;
}

.medal-content {
  border-radius: 0.64263rem;
  border: 0.321px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 2.57059px 1.2853px rgba(139, 118, 214, 0.5);
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
