.box {
  display: flex;
  flex-direction: column;
}
.comment-container {
  min-width: 18rem;
  border-radius: 0.6rem;
  border: 0.292px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 2.33672px 1.16836px rgba(139, 118, 214, 0.5);
}

.comment-button {
  border-radius: 0.58419rem 0rem;
  border: 2px solid var(--Verde, #00eb8e);
  padding: 0.25rem 0.5rem;
  margin-top: 0.8rem;
  align-self: flex-end;
}
