.home-container {
  /* width: 100%; */
  /* min-height: 100; */
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0 10%;
  /* flex-direction: column; */
  /* gap: 50px; */
}

.home-cabecalho {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  border: 1px solid red;
}

/* .home-logout {
  position: fixed;
  top: 2.4rem;
  right: 1.4rem;
  color: var(--purple);
  font-size: 0.65rem;
  letter-spacing: -0.00313rem;
}

.home-menu-container {
  width: fit-content;
  position: fixed;
  left: 1.4rem;
  top: 1.4rem;
}

.home-content {
  width: 100%;
  margin-top: 6rem;
  position: relative;
} */

  /* padding: 0 10%; */
