.home-container {
  width: 100%;
  min-height: 100;
  display: flex;
  align-items: center;
  padding: 0. 2.5rem;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.home-logout {
  position: fixed;
  top: 2.4rem;
  right: 1.4rem;
  color: var(--purple);
  font-size: 0.65rem;
  letter-spacing: -0.00313rem;
}

.home-menu-container {
  width: fit-content;
  position: fixed;
  left: 1.4rem;
  top: 1.4rem;
}

.home-content {
  width: 100%;
  margin-top: 6rem;
  position: relative;
  padding: 0 10%;
}

.show-more{
  color: var(--purple);
  cursor: pointer;
  padding: 0 0.2rem;
  text-align: right;
  font-size: 1.8rem;
}
