.home-content {
  width: 100vw;
  margin-top: 5rem;
  position: relative;
  /* padding: 0 10%; */
}

/* .comment-box {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.comment-box.active {
  opacity: 1;
  max-height: 1000px;
  overflow: visible;
} */
